<h3>🔏 Register</h3>
<form [formGroup]="form">
  <fieldset>
    <div>
      <app-label-control
        [isRequired]="true"
        caption="Full name"
        controlName="fullName"
        [showError]="showError('fullName')"
        [errorMessage]="getError('fullName')"
      >
      </app-label-control>
      <input id="fullName" name="fullName" formControlName="fullName" />
    </div>
    <div>
      <app-label-control
        [isRequired]="true"
        caption="Email address"
        controlName="email"
        [showError]="showError('email')"
        [errorMessage]="getError('email')"
      >
      </app-label-control>
      <input id="email" name="email" type="email" formControlName="email" />
    </div>
    <div>
      <app-label-control
        [isRequired]="true"
        caption="Your Password"
        controlName="password"
        [showError]="showError('password')"
        [errorMessage]="getError('password')"
      >
      </app-label-control>
      <input
        id="password"
        name="password"
        type="password"
        formControlName="password"
      />
    </div>
    <div>
      <app-label-control
        caption="Repeat your password"
        controlName="repeatedPassword"
        [showError]="showError('repeatedPassword')"
        [errorMessage]="getError('repeatedPassword')"
      >
      </app-label-control>
      <input
        id="repeatedPassword"
        name="repeatedPassword"
        type="password"
        formControlName="repeatedPassword"
      />
    </div>
  </fieldset>
  <button [disabled]="form.invalid" (click)="onRegisterClick()">
    Register
  </button>
</form>
