<h3>🔏 Register</h3>
<form [formGroup]="form">
  <fieldset>
    <div>
      <label for="fullName">Full name</label>
      <small *ngIf="showError('fullName')">🔥 {{ getError("fullName") }}</small>
      <input id="fullName" name="fullName" formControlName="fullName" />
    </div>
    <div>
      <label for="email">Email</label>
      <small *ngIf="showError('email')"> 🔥 {{ getError("email") }} </small>
      <input id="email" name="email" type="email" formControlName="email" />
    </div>
    <div>
      <label for="password">Password</label>
      <small *ngIf="showError('password')">🔥 {{ getError("password") }}</small>
      <input
        id="password"
        name="password"
        type="password"
        formControlName="password"
      />
    </div>
    <div>
      <label for="repeatedPassword">Repeat the password</label>
      <small *ngIf="showError('repeatedPassword')"
        >🔥 {{ getError("repeatedPassword") }}
      </small>
      <input
        id="repeatedPassword"
        name="repeatedPassword"
        type="password"
        formControlName="repeatedPassword"
      />
    </div>
  </fieldset>
  <button [disabled]="form.invalid" (click)="onRegisterClick()">
    Register
  </button>
</form>
<pre>
  VALID: {{ form.valid }}
</pre>
