<form>
  <fieldset>
    <div>
      <label for="title"> Title </label>
      <input
        id="title"
        name="title"
        type="text"
        formControlName="title"
        [attr.aria-invalid]="showError('title')"
      />
      <small *ngIf="showError('title')">
        {{ form.getError("title") }}
      </small>
    </div>
    <div>
      <label for="description"> Description </label>
      <textarea
        id="description"
        name="description"
        formControlName="description"
        [attr.aria-invalid]="showError('description')"
      >
      </textarea>
      <small *ngIf="showError('description')">
        {{ form.getError("description") }}
      </small>
    </div>
    <div class="grid">
      <div>
        <label for="date"> Date </label>
        <input id="date" name="date" type="date" formControlName="date" />
      </div>
      <div>
        <label for="location"> Location </label>
        <input
          id="location"
          name="location"
          type="text"
          formControlName="location"
        />
      </div>
    </div>
    <div class="grid">
      <div>
        <label for="price"> Price </label>
        <input
          id="price"
          name="price"
          type="number"
          formControlName="price"
          [attr.aria-invalid]="showError('price')"
        />
        <small *ngIf="showError('price')">
          {{ form.getError("price") }}
        </small>
      </div>
      <div>
        <label for="currency"> Currency </label>
        <input
          id="currency"
          name="currency"
          type="text"
          formControlName="currency"
          [attr.aria-invalid]="showError('currency')"
        />
      </div>
    </div>
    <div>
      <label for="ageCategory"> Age Category </label>
      <select id="ageCategory" name="ageCategory" formControlName="ageCategory">
        <option
          *ngFor="let ageCategory of ageCategories"
          [value]="ageCategory.id"
        >
          {{ ageCategory.icon + ageCategory.caption }}
        </option>
      </select>
    </div>
  </fieldset>
  <div>
    <button class="secondary" (click)="form.reset()">Reset</button>
    <button type="submit" (click)="onNewClick()" [disabled]="form.invalid">
      Create activity
    </button>
  </div>
</form>
