<header class="grid">
  <b>List of activities</b>
  <input type="text" placeholder="Search" (change)="onSearchChange($event)" />
  <button (click)="changeOrder()">Sort ⬆️</button>
</header>
<ul>
  <li *ngFor="let activity of activities">
    <span> {{ activity.title }} </span>
    <span> 📅 {{ activity.date | date : "dd-MMM-yy" }} </span>
    <span>
      <span *ngIf="activity.price < 100; else expensive"> 💸 </span>
      <ng-template #expensive> 🤑 </ng-template>
      {{ activity.price | currency : activity.currency }}
    </span>
    <span [class]="activity.ageCategory">
      {{ activity.ageCategory | titlecase }}
    </span>
  </li>
</ul>
